.about-main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-main h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #b22222;
}

.about-main p {
  font-size: 1.2rem;
  color: #444;
  line-height: 1.6;
}
