.contact-main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-main h2 {
  font-size: 2rem;
  color: #b22222;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.2rem;
  color: #444;
  margin: 10px 0;
}
