.profile-main {
  padding: 40px;
  text-align: center;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.profile-card {
  text-align: center;
  width: 250px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;  /* Membuat gambar menjadi lingkaran */
  margin-bottom: 20px;
}

.profile-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 16px;
  color: #555;
}
