.product-main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.product-main h2 {
  font-size: 2rem;
  color: #8b0000;
  margin-bottom: 20px;
}

.product-list {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.product-list li {
  margin-bottom: 10px;
  background-color: #ffe4b5;
  padding: 10px;
  border-radius: 8px;
}
