.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;  /* Warna latar belakang navbar */
  padding: 15px 50px;  /* Memberi jarak di kiri dan kanan */
  border-radius: 20px;  /* Membuat navbar melengkung */
  margin-top: 20px;  /* Jarak antara navbar dan header */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Menambah bayangan ringan */
}

.navbar-logo h1 {
  color: white;
  font-size: 28px;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbar-menu li {
  padding: 5px 10px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #f39c12;  /* Warna saat hover */
}

.navbar-brand h2 {
  color: white;
  font-size: 22px;
}
